*.class
*.jar
*.mwe2
*.xml
*.properties
*.txt
**/.metadata/**
*.prefs
*.classpath
*.project
*.launch
*.xtextbin
*.xtend*
*.g
*.tokens
*.ISetup
*.MF
*.ecore
*.genmodel
*.DS_STORE
standard/fr.n7.prototypeExplo/src/fr/n7/PrototypeExploRuntimeModule.java
standard/fr.n7.prototypeExplo/src/fr/n7/PrototypeExploStandaloneSetup.java
standard/fr.n7.prototypeExplo/src/fr/n7/validation/PrototypeExploValidator.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/parser/antlr/internal/InternalPrototypeExploLexer.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/parser/antlr/PrototypeExploAntlrTokenFileProvider.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/ActionAttributes.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/Action.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/ActionCondition.java

standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/AnswerAttributes.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/AtomicCondition.java
standard/fr.n7.prototypeExplo/src/fr/n7/scoping/PrototypeExploScopeProvider.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/AbstractPrototypeExploRuntimeModule.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/PrototypeExploStandaloneSetupGenerated.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/parser/antlr/PrototypeExploParser.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/parser/antlr/internal/InternalPrototypeExploParser.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/Answer.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/BeginningChoice.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/Bool.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/Choice.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/ChoiceAttributes.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/Comparator.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/Condition.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/ConditionalChoice.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/ConditionalItem.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/ConditionalKnowledge.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/ConditionnalAnswer.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/Conjunction.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/Description.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/Explorer.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/ExplorerAtrributes.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/Item.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/ItemAttributes.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/Knowledge.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/KnowledgeAttributes.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/MainMap.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/MapElements.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/NormalDisjunctiveForm.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/NPC.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/NPCAttributes.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/Path.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/PathAttributes.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/Place.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/PlaceAttributes.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/PlaceType.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/PrototypeExploFactory.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/PrototypeExploPackage.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/impl/ActionAttributesImpl.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/impl/ActionConditionImpl.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/impl/ActionImpl.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/impl/AnswerAttributesImpl.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/impl/AnswerImpl.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/impl/AtomicConditionImpl.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/impl/BeginningChoiceImpl.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/impl/BoolImpl.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/impl/ChoiceAttributesImpl.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/impl/ChoiceImpl.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/impl/ComparatorImpl.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/impl/ConditionalChoiceImpl.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/impl/ConditionalItemImpl.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/impl/ConditionalKnowledgeImpl.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/impl/ConditionImpl.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/impl/ConditionnalAnswerImpl.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/impl/ConjunctionImpl.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/impl/DescriptionImpl.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/impl/ExplorerAtrributesImpl.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/impl/ExplorerImpl.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/impl/ItemAttributesImpl.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/impl/ItemImpl.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/impl/KnowledgeAttributesImpl.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/impl/KnowledgeImpl.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/impl/MainMapImpl.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/impl/MapElementsImpl.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/impl/NormalDisjunctiveFormImpl.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/impl/NPCAttributesImpl.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/impl/NPCImpl.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/impl/PathAttributesImpl.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/impl/PathImpl.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/impl/PlaceAttributesImpl.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/impl/PlaceImpl.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/impl/PlaceTypeImpl.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/impl/PrototypeExploFactoryImpl.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/impl/PrototypeExploPackageImpl.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/util/PrototypeExploAdapterFactory.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/prototypeExplo/util/PrototypeExploSwitch.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/scoping/AbstractPrototypeExploScopeProvider.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/serializer/PrototypeExploSemanticSequencer.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/serializer/PrototypeExploSyntacticSequencer.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/services/PrototypeExploGrammarAccess.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/validation/AbstractPrototypeExploValidator.java
standard/fr.n7.prototypeExplo/src-gen/fr/n7/validation/PrototypeExploConfigurableIssueCodesProvider.java
standard/fr.n7.prototypeExplo/xtend-gen/fr/n7/generator/.PrototypeExploGenerator.java._trace
standard/fr.n7.prototypeExplo/xtend-gen/fr/n7/generator/PrototypeExploGenerator.java
standard/fr.n7.prototypeExplo.ide/src/fr/n7/ide/PrototypeExploIdeModule.java
standard/fr.n7.prototypeExplo.ide/src/fr/n7/ide/PrototypeExploIdeSetup.java
standard/fr.n7.prototypeExplo.ide/src-gen/fr/n7/ide/AbstractPrototypeExploIdeModule.java
standard/fr.n7.prototypeExplo.ide/src-gen/fr/n7/ide/contentassist/antlr/PartialPrototypeExploContentAssistParser.java
standard/fr.n7.prototypeExplo.ide/src-gen/fr/n7/ide/contentassist/antlr/PrototypeExploParser.java
standard/fr.n7.prototypeExplo.ide/src-gen/fr/n7/ide/contentassist/antlr/internal/InternalPrototypeExploLexer.java
standard/fr.n7.prototypeExplo.ide/src-gen/fr/n7/ide/contentassist/antlr/internal/InternalPrototypeExploParser.java
standard/fr.n7.prototypeExplo.tests/src-gen/fr/n7/tests/PrototypeExploInjectorProvider.java
standard/fr.n7.prototypeExplo.tests/test-bin/fr/n7/tests/.PrototypeExploParsingTest.java._trace
standard/fr.n7.prototypeExplo.tests/xtend-gen/fr/n7/tests/.PrototypeExploParsingTest.java._trace
standard/fr.n7.prototypeExplo.tests/xtend-gen/fr/n7/tests/PrototypeExploParsingTest.java
standard/fr.n7.prototypeExplo.ui/src/fr/n7/ui/PrototypeExploUiModule.java
standard/fr.n7.prototypeExplo.ui/src/fr/n7/ui/contentassist/PrototypeExploProposalProvider.java
standard/fr.n7.prototypeExplo.ui/src/fr/n7/ui/labeling/PrototypeExploDescriptionLabelProvider.java
standard/fr.n7.prototypeExplo.ui/src/fr/n7/ui/labeling/PrototypeExploLabelProvider.java
standard/fr.n7.prototypeExplo.ui/src/fr/n7/ui/outline/PrototypeExploOutlineTreeProvider.java
standard/fr.n7.prototypeExplo.ui/src/fr/n7/ui/quickfix/PrototypeExploQuickfixProvider.java
standard/fr.n7.prototypeExplo.ui/src-gen/fr/n7/prototypeExplo/ui/internal/PrototypeExploActivator.java
standard/fr.n7.prototypeExplo.ui/src-gen/fr/n7/ui/AbstractPrototypeExploUiModule.java
standard/fr.n7.prototypeExplo.ui/src-gen/fr/n7/ui/PrototypeExploExecutableExtensionFactory.java
standard/fr.n7.prototypeExplo.ui/src-gen/fr/n7/ui/contentassist/AbstractPrototypeExploProposalProvider.java
standard/fr.n7.prototypeExplo.ui/src-gen/fr/n7/validation/PrototypeExploValidatorConfigurationBlock.java
standard/fr.n7.prototypeExplo.ui.tests/src-gen/fr/n7/ui/tests/PrototypeExploUiInjectorProvider.java

standard/fr.n7.prototypeExplo/bin/fr/n7/generator/.PrototypeExploGenerator.java._trace
